<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".di.FirebaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BunGae"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBHTWt8J0f-sYI7lfBWV5U3VWMLPKWVprw" />
        <activity
            android:name=".ui.message.chatting_room.ChattingRoomActivity"
            android:label="채팅방"/>
        <activity
            android:name=".ui.update.UpdatePostActivity"
            android:label="글 수정"/>
        <activity
            android:name=".ui.mypage.mypost.MyPostActivity"
            android:label="내가 쓴 글"/>
        <activity
            android:name=".ui.detail.DetailActivity"
            android:label="상세보기" />
        <activity
            android:name=".ui.account.login.LoginActivity"
            android:label="로그인" />
        <activity
            android:name=".ui.account.profile.ProfileActivity"
            android:label="프로필 등록" />
        <activity
            android:name=".ui.account.signup.SignUpActivity"
            android:label="회원가입" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>